<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="test suite">
<parameter name="environment" value="qa"/>
  <test verbose="2" name="smoke test">
    <classes>
      <class name="tests.PIM">
      	<methods>
      		<include name="createEmployee"/>
      	</methods>
      </class>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
